// ----------------------------------------------------------------------------
// * Basic typography style for copy text.
// ----------------------------------------------------------------------------

h1 {
  font-size: 30px;
}

h2 {
  font-size: 22px;
}

header {
  text-align: center;
}

// * End
// * ------------------------
