// -----------------------------------------------------------------------------
// * This file contains all application-wide Sass placeholders.
// -----------------------------------------------------------------------------

/// Centrage Flexbox
%flex-all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// * End
// * ------------------------
