// ----------------------------------------------------------------------------
// * This file contains very basic layouts.
// ----------------------------------------------------------------------------

.container {
  display: flex;
  justify-content: center;

  .page {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
  }
}

// * End
// * ------------------------
