// ----------------------------------------------------------------------------
// * Login form stylesheet.
// ----------------------------------------------------------------------------

.modal-wrapping {
  // a passer à none en JS
  // display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // overflow: auto;
  z-index: 2;
  background: rgba(211, 15, 15, 0.4);
}

.modal-content {
  display: flex;
}

.modal-left {
  width: 50vw;
  height: 100vh;
  background-color: burlywood;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.modal-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100vh;
  // background: linear-gradient(to bottom, #ffffff, #f1f1f1);
  background-color: #f1f1f1;
}

.form {
  width: 300px;
  height: 250px;
  padding: 25px;
  background-color: #fff;
}

.email {

  display: flex;
  flex-direction: column;
  #mail {
    background-color: #0285b8;
  }
  
  
}

.password {

  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.button {
  background-color: #0285b8;
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 5px;
  border-radius: 3px;
}

.remember label {

  display: initial;
}



label {
  display: block;

}

input {
  // border: none;
  margin: 0;
 
}


.log {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 25px;
}




// * End
// * ------------------------