// ----------------------------------------------------------------------------
// * This file contains very basic layouts.
// ----------------------------------------------------------------------------

h2 {
  font-size: 20px;
  font-weight: 600;
}

h2,
a {
  font-family: 'Heebo', sans-serif;
}

.prime {
  width: fit-content;
  max-width: 1024px;
  margin: 20px auto 0 auto;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;

  &-header {
    text-align: center;
  }

  &-form {
    margin-top: 10px;
    text-align: center;

    &__input {
      margin-top: 10px;
    }
  }

  &-info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  &-list {
    width: fit-content;
    margin: 10px auto 0 auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    line-height: 20px;
  }
}

// * End
// * ------------------------
