// ----------------------------------------------------------------------------
// * This file contains very basic layouts.
// ----------------------------------------------------------------------------

h1 {
  font-size: 20px;
  font-weight: 600;
}

h1,
a {
  font-family: 'Heebo', sans-serif;
}

.main {
  margin: 10px;
}

.prime {
  width: fit-content;
  max-width: 1024px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.prime-header {
  text-align: center;
}

.prime-form {
  margin-top: 10px;
  text-align: center;
}

.prime-form-input {
  margin-top: 10px;
}

.prime-info {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.prime-list {
  width: fit-content;
  margin: 10px auto 0 auto;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  line-height: 20px;
}

// * End
// * ------------------------
