// ----------------------------------------------------------------------------
// * This file contains very basic layouts.
// ----------------------------------------------------------------------------

h1 {
  font-size: 30px;
  font-weight: 700;
}

.container {
  display: flex;
  justify-content: center;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  padding: 10px;

  &-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

    &__logo {
      font-size: 25px;
      margin-left: 15px;
    }
  }
}

// * End
// * ------------------------
